{% extends 'Home/base.html' %}
{% load static %}
<!-- Contenido-->

{% block CONTENIDO %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% include 'Home/skates.html' with skate="Premio 1" descripcion="Combo Skate - Guatambú + Casco + Llave T" estrella1="bi-star-fill" estrella2="bi-star-fill" estrella3="bi-star-fill" ruta='Home/img/premio1.jpg' %}
                {% include 'Home/skates.html' with skate="Premio 2" descripcion="Skate - Porcelain" estrella1="bi-star-fill" estrella2="bi-star-fill" ruta='Home/img/premio2.png' %}
                {% include 'Home/skates.html' with skate="Premio 3" descripcion="Tabla de Skate - Retrowave" estrella1="bi-star-fill" ruta='Home/img/premio3.jpg' %}
            </div>
        </div>
    </section>

{% endblock CONTENIDO %}
