{% load static %}

<div class="col mb-5">
    <div class="card h-100">
                    <!-- Product image-->
        <img class="card-img-top" src="{% static  ruta %}" alt="..." />
                    <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                            <!-- Product name-->
                <h5 class="fw-bolder">{{ skate }}</h5>
                            <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class={{estrella1}}></div>
                    <div class={{estrella2}}></div>
                    <div class={{estrella3}}></div>
                </div>
                            <!-- Descripción -->
                {{ descripcion }}
            </div>
        </div>

    </div>
</div>