{% extends 'Home/base.html' %}

{% block TITULO %}
    Bienvenido a la pagina cliente
{% endblock TITULO %}

{% block CONTENIDO %}
 
    {% for cliente in clientes %}

        {{ cliente.nombre }}
        <br>
        {{ cliente.apellido }}
        <br>
        {{ cliente.documento }}
        <br>
        {{ cliente.nacimiento }}
        <br>
        {{ cliente.vehiculo_id }}

    {% endfor %}

    <br>
    <a href="{% url 'cliente:crear_cliente' %}">Crear clientes</a>
    <br>
    <a href="{% url 'Home:home' %}">Ir al menú principal</a>

{% endblock CONTENIDO %}
